<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>CoreLocationCLI</string>
	<key>CFBundleIdentifier</key>
	<string>com.fulldecent.CoreLocationCLI</string>
	<key>CFBundleName</key>
	<string>CoreLocationCLI</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.3</string>
	<key>NSLocationUsageDescription</key>
	<string>This application requires location services to function.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This application requires location services to function.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This application requires location services to function.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This application requires location services to function.</string>
</dict>
</plist>
